extends _layout

block content
  .ibm-columns(data-items='.ibm-card' data-widget='setsameheight')
    .ibm-col-6-2.ibm-col-med-6-3.ibm-col-small-1-1
      .ibm-card
        .ibm-card__image
          img(src='/img/icons/claim processing.svg')
        .ibm-card__content
            h3.ibm-h3 #{ __('Claim Processing') }
            p #{ __('Claim Processing Description') }
            p.ibm-ind-link
              a.ibm-forward-link(href='/contract-management/claim-processing') #{ __('Process New Claims') }
    .ibm-col-6-2.ibm-col-med-6-3.ibm-col-small-1-1
      .ibm-card
          .ibm-card__image
            img(src='/img/icons/contract templates.svg')
          .ibm-card__content
              h3.ibm-h3 #{ __('Contract Templates') }
              p #{ __('Contract Templates Description') }
              p.ibm-ind-link
                a.ibm-forward-link(href='/contract-management/contract-templates') #{ __('Manage Available Contract Templates') }
